.container {
  background-color: #d5e7fb;
  width: 100%;
  height: fit-content;
  padding: 25px;

  h1 {
    color: #001959;
    font-size: 1.75rem;
    font-weight: 700;
  }
  .card-container {
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    img {
      height: 50px;
      width: 50px;
      align-self: flex-start;
    }
    p {
      margin-left: 30px;
      font-weight: bold;
      font-size: 18px;
    }
  }
}
