.container-card {
  padding: 20px;
  margin-top: 10px;
  .makeStyles-card-24 {
    position: relative;
    min-width: 200px;
    box-shadow: none;
    min-height: 360px;
    border-radius: 0.5rem;
  }
}
