.Nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgb(204, 200, 200);
  img {
    height: 30px;
  }
  .Nav-links {
    display: flex;
    width: 150px;
    justify-content: space-around;
    margin-left: 80px;
  }
}
